# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# Dados fornecidos
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criar um DataFrame com os dados
df = pd.DataFrame({'Ano': anos, 'Anomalia Térmica': anomalias_termicas})

# Definir os anos como índices
df.set_index('Ano', inplace=True)

print(df)
# seu código aqui

      Anomalia Térmica
Ano
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
# Criar a série do Pandas
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibir a série resultante
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [6]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
# Criar o ndarray com números pseudo-aleatórios
arr = np.random.normal(100, 10, (20, 3))

# Transformar o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=['Coluna_1', 'Coluna_2', 'Coluna_3'])

# Exibir o DataFrame resultante
print(df)

      Coluna_1    Coluna_2    Coluna_3
0   108.354568  112.810205  107.116902
1    93.848643  103.016066   94.569601
2   117.067640   82.789368  106.864843
3    80.700352  105.486105  100.846401
4   103.288590  100.914785  102.883398
5   100.821399  112.885231  113.556040
6   103.389259   92.683997   94.599346
7    96.264326  107.690734  110.724692
8    98.690248   88.714454  120.842113
9    96.658602  110.065863   98.815735
10   98.408100   86.149291  105.926797
11   94.261373   91.011694  106.177872
12   95.885238   85.870061   99.188049
13   89.497238  106.895153   93.705485
14  101.639804   84.993715   84.970611
15   80.974379  116.630734  100.170873
16  102.604866   83.109144  104.640387
17   97.198974   86.951190  120.806332
18  107.111378   99.596854   92.720645
19  108.810488   90.497136   89.909270

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [7]:
#seu código aqui
# Transformar o ndarray em um DataFrame
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

# Nomear os índices das linhas com inteiros de 1 a 20
df.index = range(1, 21)

# Exibir o DataFrame resultante
print(df)

            x1          x2          x3
1   108.354568  112.810205  107.116902
2    93.848643  103.016066   94.569601
3   117.067640   82.789368  106.864843
4    80.700352  105.486105  100.846401
5   103.288590  100.914785  102.883398
6   100.821399  112.885231  113.556040
7   103.389259   92.683997   94.599346
8    96.264326  107.690734  110.724692
9    98.690248   88.714454  120.842113
10   96.658602  110.065863   98.815735
11   98.408100   86.149291  105.926797
12   94.261373   91.011694  106.177872
13   95.885238   85.870061   99.188049
14   89.497238  106.895153   93.705485
15  101.639804   84.993715   84.970611
16   80.974379  116.630734  100.170873
17  102.604866   83.109144  104.640387
18   97.198974   86.951190  120.806332
19  107.111378   99.596854   92.720645
20  108.810488   90.497136   89.909270

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# seu código aqui
df['media'] = df.mean(axis=1)

# Exibir o DataFrame atualizado
print(df)

            x1          x2          x3       media
1   108.354568  112.810205  107.116902  109.427225
2    93.848643  103.016066   94.569601   97.144770
3   117.067640   82.789368  106.864843  102.240617
4    80.700352  105.486105  100.846401   95.677619
5   103.288590  100.914785  102.883398  102.362258
6   100.821399  112.885231  113.556040  109.087557
7   103.389259   92.683997   94.599346   96.890868
8    96.264326  107.690734  110.724692  104.893251
9    98.690248   88.714454  120.842113  102.748938
10   96.658602  110.065863   98.815735  101.846733
11   98.408100   86.149291  105.926797   96.828063
12   94.261373   91.011694  106.177872   97.150313
13   95.885238   85.870061   99.188049   93.647782
14   89.497238  106.895153   93.705485   96.699292
15  101.639804   84.993715   84.970611   90.534710
16   80.974379  116.630734  100.170873   99.258662
17  102.604866   83.109144  104.640387   96.784799
18   97.198974   86.951190  120.806332  101.652166
19  107.111378   99.596854   92.720645   99.809626
20  108.810488   90.497136   89.909270   96.405631

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
df['log_med'] = np.log(df['media'])

# Exibir o DataFrame atualizado
print(df)

            x1          x2          x3       media   log_med
1   108.354568  112.810205  107.116902  109.427225  4.695260
2    93.848643  103.016066   94.569601   97.144770  4.576202
3   117.067640   82.789368  106.864843  102.240617  4.627329
4    80.700352  105.486105  100.846401   95.677619  4.560984
5   103.288590  100.914785  102.883398  102.362258  4.628518
6   100.821399  112.885231  113.556040  109.087557  4.692151
7   103.389259   92.683997   94.599346   96.890868  4.573585
8    96.264326  107.690734  110.724692  104.893251  4.652943
9    98.690248   88.714454  120.842113  102.748938  4.632289
10   96.658602  110.065863   98.815735  101.846733  4.623469
11   98.408100   86.149291  105.926797   96.828063  4.572937
12   94.261373   91.011694  106.177872   97.150313  4.576259
13   95.885238   85.870061   99.188049   93.647782  4.539541
14   89.497238  106.895153   93.705485   96.699292  4.571606
15  101.639804   84.993715   84.970611   90.534710  4.505733
16   80.974379  116.630734  100.170873   99.258662  4.597729
17  102.604866   83.109144  104.640387   96.784799  4.572490
18   97.198974   86.951190  120.806332  101.652166  4.621557
19  107.111378   99.596854   92.720645   99.809626  4.603265
20  108.810488   90.497136   89.909270   96.405631  4.568565